
# archivo secreto
secret.json

#archivos de cache
/crm_project/__pycache__
/crm_project/settings/__pycache__

/users/__pycache__
/users/migrations/__pycache__

/business_projects/__pycache__
/business_projects/migrations/__pycache__

/contability/__pycache__
/contability/migrations/__pycache__

/utils/__pycache__